TRENDIQ_REDDIT_MODE=mock
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=web:trendiq-local:v1.0.0 (by /u/your_reddit_username)
TRENDIQ_REDDIT_CACHE_TTL_MS=900000
TRENDIQ_REDDIT_MIN_SAMPLE_SIZE=20
TRENDIQ_REDDIT_MAX_POSTS_PER_ALIAS=50

TRENDIQ_SEARCH_MODE=mock
TRENDIQ_SEARCH_PROVIDER=dataforseo
DATAFORSEO_LOGIN=
DATAFORSEO_PASSWORD=
DATAFORSEO_API_BASE_URL=https://api.dataforseo.com
TRENDIQ_SEARCH_CACHE_TTL_MS=900000
TRENDIQ_SEARCH_MIN_SAMPLE_SIZE=2
TRENDIQ_SEARCH_LOCATION_CODE=2840
